@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-[#171923] text-white;
}

.modal-text {
  color: #000 !important ;
}

.active {
  background-color: "#00D991";
  color: #fff;
}
.custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.custom-scroll::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
  height: 0; /* Safari and Chrome */
}
